##-----##-----##-----##-----##-----##-----##-----##-----##-----##-----##-----##-----##
module "transit_gateway" {
  source   = "../terraform_modules/aws/transit_gateway"
  location = "eu-west-1"
}

##-----##-----##-----##-----##-----##-----##-----##-----##-----##-----##-----##-----##


